﻿	/*
  	Flaticon icon font: Flaticon
  	Creation date: 12/07/2017 19:46
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flaticon.eot");
  src: url("../fonts/flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/flaticon.woff") format("woff"),
       url("../fonts/flaticon.ttf") format("truetype"),
       url("../fonts/flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "flaticon";
    src: url(../fonts/flaticon.svg) format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
font-style: normal;
}

.flaticon-location:before { content: "\f100"; }
.flaticon-signs:before { content: "\f101"; }
.flaticon-placeholder:before { content: "\f102"; }
.flaticon-telephone-1:before { content: "\f103"; }
.flaticon-telephone:before { content: "\f104"; }
.flaticon-target:before { content: "\f105"; }
.flaticon-stopwatch:before { content: "\f106"; }
.flaticon-clock:before { content: "\f107"; }
.flaticon-building:before { content: "\f108"; }
.flaticon-cabin:before { content: "\f109"; }
.flaticon-drawing:before { content: "\f10a"; }
.flaticon-light-bulb:before { content: "\f10b"; }
.flaticon-hammer:before { content: "\f10c"; }
.flaticon-drill:before { content: "\f10d"; }
.flaticon-brick-wall:before { content: "\f10e"; }
.flaticon-electric-tower:before { content: "\f10f"; }
.flaticon-window:before { content: "\f110"; }
.flaticon-wheelbarrow:before { content: "\f111"; }
.flaticon-loader:before { content: "\f112"; }
.flaticon-people-2:before { content: "\f113"; }
.flaticon-construction:before { content: "\f114"; }
.flaticon-email-filled-closed-envelope:before { content: "\f115"; }
.flaticon-people-1:before { content: "\f116"; }
.flaticon-people:before { content: "\f117"; }
.flaticon-flasks:before { content: "\f118"; }
.flaticon-cogwheel:before { content: "\f119"; }
.flaticon-motor:before { content: "\f11a"; }
.flaticon-bottle:before { content: "\f11b"; }
.flaticon-landscape:before { content: "\f11c"; }
.flaticon-speedometer:before { content: "\f11d"; }
.flaticon-fuel:before { content: "\f11e"; }
.flaticon-technology-1:before { content: "\f11f"; }
.flaticon-tools:before { content: "\f120"; }
.flaticon-technology:before { content: "\f121"; }
.flaticon-arrows:before { content: "\f122"; }