﻿@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot');
  src:  url('../fonts/icomoon.eot') format('embedded-opentype'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-placeholder2:before {
  content: "\e929";
}
.icon-users2:before {
  content: "\e92a";
}
.icon-support2:before {
  content: "\e94b";
}
.icon-graphic-22:before {
  content: "\e94c";
}
.icon-layers2:before {
  content: "\e94d";
}
.icon-pie-chart2 .path1:before {
  content: "\e952";
  color: rgb(167, 169, 172);
}
.icon-pie-chart2 .path2:before {
  content: "\e953";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-pie-chart2 .path3:before {
  content: "\e954";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-pie-chart2 .path4:before {
  content: "\e955";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-pie-chart2 .path5:before {
  content: "\e956";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-presentation2:before {
  content: "\e957";
}
.icon-users:before {
  content: "\e958";
}
.icon-support:before {
  content: "\e959";
}
.icon-layers:before {
  content: "\e95a";
}
.icon-pie-chart .path1:before {
  content: "\e95b";
  color: rgb(167, 169, 172);
}
.icon-pie-chart .path2:before {
  content: "\e95c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-pie-chart .path3:before {
  content: "\e95d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-pie-chart .path4:before {
  content: "\e95e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-pie-chart .path5:before {
  content: "\e95f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-presentation:before {
  content: "\e960";
}
.icon-placeholder-1:before {
  content: "\e961";
}
.icon-coffee-cup:before {
  content: "\e900";
}
.icon-placeholder:before {
  content: "\e901";
}
.icon-search:before {
  content: "\e902";
}
.icon-cancel:before {
  content: "\e903";
}
.icon-back:before {
  content: "\e904";
}
.icon-next:before {
  content: "\e905";
}
.icon-envelope-1:before {
  content: "\e906";
}
.icon-magnifying-glass:before {
  content: "\e907";
}
.icon-phone-call-1:before {
  content: "\e908";
}
.icon-phone-call:before {
  content: "\e909";
}
.icon-envelope:before {
  content: "\e90a";
}
.icon-monitor-2:before {
  content: "\e90b";
}
.icon-message:before {
  content: "\e90c";
}
.icon-bar-chart:before {
  content: "\e90d";
}
.icon-graphic-11:before {
  content: "\e90e";
}
.icon-market:before {
  content: "\e90f";
}
.icon-graphic-10:before {
  content: "\e910";
}
.icon-graphic-2:before {
  content: "\e911";
}
.icon-business-2:before {
  content: "\e912";
}
.icon-graphic-1:before {
  content: "\e913";
}
.icon-graphic-9:before {
  content: "\e914";
}
.icon-graphic:before {
  content: "\e915";
}
.icon-monitor-1:before {
  content: "\e916";
}
.icon-shopping:before {
  content: "\e917";
}
.icon-arrow:before {
  content: "\e918";
}
.icon-chart:before {
  content: "\e919";
}
.icon-square:before {
  content: "\e91a";
}
.icon-graphic-8:before {
  content: "\e91b";
}
.icon-graphic-7:before {
  content: "\e91c";
}
.icon-connection:before {
  content: "\e91d";
}
.icon-graphic-6:before {
  content: "\e91e";
}
.icon-social:before {
  content: "\e91f";
}
.icon-graphic-5:before {
  content: "\e920";
}
.icon-graphic-4:before {
  content: "\e921";
}
.icon-monitor:before {
  content: "\e922";
}
.icon-business-1:before {
  content: "\e923";
}
.icon-graphic-3 .path1:before {
  content: "\e924";
  color: ;
}
.icon-graphic-3 .path2:before {
  content: "\e925";
  margin-left: -1em;
  color: ;
}
.icon-graphic-3 .path3:before {
  content: "\e926";
  margin-left: -1em;
  color: ;
}
.icon-graphic-3 .path4:before {
  content: "\e927";
  margin-left: -1em;
  color: ;
}
.icon-graphic-3 .path5:before {
  content: "\e928";
  margin-left: -1em;
  color: ;
}
.icon-internet-1 .path1:before {
  content: "\e92b";
  color: rgb(60, 146, 202);
}
.icon-internet-1 .path2:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-internet-1 .path3:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-internet-1 .path4:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-internet-1 .path5:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-internet-1 .path6:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-internet-1 .path7:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-internet-1 .path8:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-internet-1 .path9:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-internet-1 .path10:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-people .path1:before {
  content: "\e935";
  color: rgb(167, 169, 172);
}
.icon-people .path2:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(167, 169, 172);
}
.icon-people .path3:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(167, 169, 172);
}
.icon-people .path4:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-computer .path1:before {
  content: "\e939";
  color: rgb(60, 146, 202);
}
.icon-computer .path2:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-computer .path3:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-computer .path4:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-computer .path5:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-computer .path6:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-internet .path1:before {
  content: "\e93f";
  color: rgb(167, 169, 172);
}
.icon-internet .path2:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-internet .path3:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-internet .path4:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-internet .path5:before {
  content: "\e943";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-internet .path6:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-internet .path7:before {
  content: "\e945";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-internet .path8:before {
  content: "\e946";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-internet .path9:before {
  content: "\e947";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-internet .path10:before {
  content: "\e948";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-business .path1:before {
  content: "\e949";
  color: ;
}
.icon-business .path2:before {
  content: "\e94a";
  margin-left: -1em;
  color: ;
}
.icon-line-chart:before {
  content: "\e94e";
}
.icon-polygon:before {
  content: "\e94f";
}
.icon-note:before {
  content: "\e950";
}
.icon-hexagon:before {
  content: "\e951";
}

