/* Caution! Ensure accessibility in print and other media types... */
@media projection, screen { /* Use class for showing/hiding tab content, so that visibility can be better controlled in different media types... */
    .ui-tabs-hide {
        display: none;
    }
}

/* Hide useless elements in print layouts... */
@media print {
    .ui-tabs-nav {
        display: none;
    }
}

/* Skin */


.ui-tabs-nav, .ui-tabs-panel {
    font-family: "Arial, sans-serif";
    font-size: 12px;
}
.ui-tabs-nav {
    /* border-bottom:4px #ffcc00 solid;*/
    list-style: none;
    margin: 0;
    padding: 0 0 0px 0px;
}
.ui-tabs-nav:after { /* clearing without presentational markup, IE gets extra treatment */
    display: block;
    clear: both;
    content: " ";
}
.ui-tabs-nav li {
    border-bottom: 2px solid #cecece;
    float: left;
    margin:2px;

    min-width: 90px; /* be nice to Opera */
}
.ui-tabs-nav a, .ui-tabs-nav a span {
    display: block;
    padding:0 10px 0 10px!important
    /* background: url(tab.png) no-repeat;*/
}
.ui-tabs-nav a {
    margin: 1px 0 0; /* position: relative makes opacity fail for disabled tab in IE */
    padding:0 10px 0 10px!important;
    color: #acacac;
    font-weight: bold;
    line-height:2.2!important;
    text-align: center;
    text-decoration: none;
    white-space: nowrap; /* required in IE 6 */
    outline: 0; /* prevent dotted border in Firefox */
    font:14px Arial, Helvetica, sans-serif;
    text-transform:uppercase;
    font-weight:bold;

}
.ui-tabs-nav .ui-tabs-selected a {
    position: relative;
    top: 1px;
    z-index: 2;
    margin-top: 0;
    color: #333;
    font-weight:bold;
    border-bottom:2px solid #000;
    padding:0 10px 0 10px!important;
    font:14px Arial, Helvetica, sans-serif;
    font-weight:bold;

}
.ui-tabs-nav a span {
    width: 64px; /* IE 6 treats width as min-width */
    min-width: 64px;
    height: 30px; /* IE 6 treats height as min-height */
    min-height: 30px;
    padding-top: 6px;
    padding-right: 0;
}
*>.ui-tabs-nav a span { /* hide from IE 6 */
    width: auto;
    height: auto;
}
.ui-tabs-nav .ui-tabs-selected a span {
    padding-bottom: 1px;
}
.ui-tabs-nav .ui-tabs-selected a, .ui-tabs-nav a:hover, .ui-tabs-nav a:focus, .ui-tabs-nav a:active {
    background-position: 100% -150px;
}
.ui-tabs-nav a, .ui-tabs-nav .ui-tabs-disabled a:hover, .ui-tabs-nav .ui-tabs-disabled a:focus, .ui-tabs-nav .ui-tabs-disabled a:active {
    background-position: 100% -100px;
}
.ui-tabs-nav .ui-tabs-selected a span, .ui-tabs-nav a:hover span, .ui-tabs-nav a:focus span, .ui-tabs-nav a:active span {
    background-position: 0 -50px;
}
.ui-tabs-nav a span, .ui-tabs-nav .ui-tabs-disabled a:hover span, .ui-tabs-nav .ui-tabs-disabled a:focus span, .ui-tabs-nav .ui-tabs-disabled a:active span {
    background-position: 0 0;
}
.ui-tabs-nav .ui-tabs-selected a:link, .ui-tabs-nav .ui-tabs-selected a:visited, .ui-tabs-nav .ui-tabs-disabled a:link, .ui-tabs-nav .ui-tabs-disabled a:visited { /* @ Opera, use pseudo classes otherwise it confuses cursor... */
    cursor: pointer;
}
.ui-tabs-nav a:hover, .ui-tabs-nav a:focus, .ui-tabs-nav a:active,
.ui-tabs-nav .ui-tabs-deselectable a:hover, .ui-tabs-nav .ui-tabs-deselectable a:focus, .ui-tabs-nav .ui-tabs-deselectable a:active { /* @ Opera, we need to be explicit again here now... */
    cursor: pointer;
}
.ui-tabs-disabled {
    opacity: .4;
    filter: alpha(opacity=40);
}
.ui-tabs-panel {

    border-color: #EDEDED;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    font: 12px Arial,Helvetica,sans-serif;
    margin: -4px 1px;
    padding: 1em 0 2em 12px;
}
.ui-tabs-loading em {
    padding: 0 0 0 20px;
    background: url(loading.gif) no-repeat 0 50%;
}

/* Additional IE specific bug fixes... */
* html .ui-tabs-nav { /* auto clear, @ IE 6 & IE 7 Quirks Mode */
    display: inline-block;
}
*:first-child+html .ui-tabs-nav  { /* @ IE 7 Standards Mode - do not group selectors, otherwise IE 6 will ignore complete rule (because of the unknown + combinator)... */
    display: inline-block;
}



.year-style{/*background:url(../images/year-top1.jpg) no-repeat!important; height:145px;*/

    border:1px solid #ededed;
    box-shadow: 0 0 4px #cdcdcd;
    -webkit-box-shadow: 0 0 4px #cdcdcd;
    -moz-box-shadow: 0 0 4px #cdcdcd;
    padding:0 0 20px;
}

.bottom-box{background:url(../images/year-bottom.jpg) bottom no-repeat!important;}

.year-style .ui-tabs-nav, .ui-tabs-panel {
    font-family: "Arial, sans-serif";
    font-size: 12px;
}
.year-style .ui-tabs-nav {
    /* border-bottom:4px #ffcc00 solid;*/
    list-style: none;
    margin: 0;
    padding: 0 0 0px 0px;
}
.year-style .ui-tabs-nav:after { /* clearing without presentational markup, IE gets extra treatment */
    border-bottom: 1px solid #DCDCDC;
    clear: both;
    content: " ";
    display: block;
    margin-left: 25px !important;
    padding: 0 0 6px;
    width: 617px;
}
.year-style .ui-tabs-nav li {
    border-bottom: medium none !important;
    float: left;
    margin: 15px 0 0 15px !important;
    min-width: 22px !important;
    padding: 4px 0 0 10px !important; be nice to Opera */
}
.year-style .ui-tabs-nav a, .ui-tabs-nav a span {
    display: block;
    padding:0px!important
    /* background: url(tab.png) no-repeat;*/
}
.year-style .ui-tabs-nav a {
    margin: 1px 0 0; /* position: relative makes opacity fail for disabled tab in IE */
    padding:0px!important;
    color: #000;
    font-weight: bold!important;
    line-height:2.2!important;
    text-align: center;
    text-decoration: none;
    white-space: nowrap; /* required in IE 6 */
    outline: 0; /* prevent dotted border in Firefox */
    font:15px Arial, Helvetica, sans-serif;
    text-transform:uppercase;

}
.year-style .ui-tabs-nav .ui-tabs-selected a {
    position: relative;
    top: 1px;
    z-index: 2;
    margin-top: 0;
    color: #d9ae00;
    font-weight:bold;
    border-bottom:none!important;
    padding:0px!important;
    font:15px Arial, Helvetica, sans-serif;
    font-weight:bold;

}
.year-style .ui-tabs-nav a span {
    width: 64px; /* IE 6 treats width as min-width */
    min-width: 64px;
    height: 30px; /* IE 6 treats height as min-height */
    min-height: 30px;
    padding-top: 6px;
    padding-right: 0;
}
*>.year-style .ui-tabs-nav a span { /* hide from IE 6 */
    width: auto;
    height: auto;
}
.year-style .ui-tabs-nav .ui-tabs-selected a span {
    padding-bottom: 1px;
}
.year-style .ui-tabs-nav .ui-tabs-selected a, .ui-tabs-nav a:hover, .ui-tabs-nav a:focus, .ui-tabs-nav a:active {
    background-position: 100% -150px;
}
.year-style.ui-tabs-nav a, .ui-tabs-nav .ui-tabs-disabled a:hover, .ui-tabs-nav .ui-tabs-disabled a:focus, .ui-tabs-nav .ui-tabs-disabled a:active {
    background-position: 100% -100px;
}
.year-style.ui-tabs-nav .ui-tabs-selected a span, .ui-tabs-nav a:hover span, .ui-tabs-nav a:focus span, .ui-tabs-nav a:active span {
    background-position: 0 -50px;
}
.year-style.ui-tabs-nav a span, .ui-tabs-nav .ui-tabs-disabled a:hover span, .ui-tabs-nav .ui-tabs-disabled a:focus span, .ui-tabs-nav .ui-tabs-disabled a:active span {
    background-position: 0 0;
}
.year-style.ui-tabs-nav .ui-tabs-selected a:link, .ui-tabs-nav .ui-tabs-selected a:visited, .ui-tabs-nav .ui-tabs-disabled a:link, .ui-tabs-nav .ui-tabs-disabled a:visited { /* @ Opera, use pseudo classes otherwise it confuses cursor... */
    cursor: pointer;
}
.year-style.ui-tabs-nav a:hover, .ui-tabs-nav a:focus, .ui-tabs-nav a:active,
.year-style.ui-tabs-nav .ui-tabs-deselectable a:hover, .ui-tabs-nav .ui-tabs-deselectable a:focus, .ui-tabs-nav .ui-tabs-deselectable a:active { /* @ Opera, we need to be explicit again here now... */
    cursor: pointer;
}
.year-style.ui-tabs-disabled {
    opacity: .4;
    filter: alpha(opacity=40);
}
.year-style .ui-tabs-panel {

    padding: 1em 8px;
    /* declare background color for container to avoid distorted fonts in IE while fading */
    color:#333;
    line-height:18px;
    font:12px Arial, Helvetica, sans-serif;
    border:none!important;
}

.year-style .ui-tabs-panel p{margin:0px!important; padding:5px 46px 0 16px !important;}

.year-style.ui-tabs-loading em {
    padding: 0 0 0 20px;
    background: url(loading.gif) no-repeat 0 50%;
}

/* Additional IE specific bug fixes... */
* html .year-style.ui-tabs-nav { /* auto clear, @ IE 6 & IE 7 Quirks Mode */
    display: inline-block;
}
*:first-child+html .year-style.ui-tabs-nav  { /* @ IE 7 Standards Mode - do not group selectors, otherwise IE 6 will ignore complete rule (because of the unknown + combinator)... */
    display: inline-block;
}



.year-style.ui-tabs-hide {
    display: none;
}



.thumbImg .showBG img {
    margin-bottom: 12px;
}
.thumbImg .showBG {
    background-color: #FFFFFF!important;
    border: 1px solid #EBEBEB!important;
    color: #666666;
    display: block;
    margin-bottom: 20px;
    margin-right: 5px;
    padding: 15px 18px;
    text-align: center;
    text-decoration: none;
}
.thumbImg .showBG:hover {
    border: 1px solid #B1B1B1!important;
    color: #666666;
}
